<style type="text/css">
  
  body {
    font-family: 'Astloch', "Times New Roman", serif;
    font-size: 16px;
    }

  .page {
    width: 48%;
    float: left;
    padding: 0 1% 0 1%;
    }

  .page-break {
    page-break-before:always; !important
    }


  .title {
    font-size: 180px;
    margin-left: 100px;
    margin-top: 40px; 
    width: 100%;
    word-spacing: 2px;
    padding: 20px;
    border: 4px solid #000;
    line-height: 160px;
    text-align: center;
    }


  .hide {
    display: none;
    }

  .author {
    text-align: center;
    }

  img {
    width: 50%;
    }

</style>

<p id="notice"><%= notice %></p> 

<%#= #root_url + "assets/booklets/1/Logo.png" %>

<div class="page" id="back_cover">
<%= image_tag absolute_attachment_url(@booklet.back_cover_img) %>
</div>

<div class="page" id="cover">
  <div class="title">
    <%= @booklet.title %>
  </div>
</div>

<div class="page page-break" id="one">
  <p>
    <%= @booklet.page_1 %>
  </p>
  <%= image_tag absolute_attachment_url(@booklet.img_1) %>  
</div>

<div class="page" id="two">
  <p>
    <b>Page 2:</b>
    <%= @booklet.page_2 %>
  </p>
  <%= image_tag absolute_attachment_url(@booklet.img_2) %>
  <div class="author">
    <%= @booklet.author %><br />
  </div>
</div>

<p>
  <b>Page 3:</b>
  <%= @booklet.page_3 %>
</p>
<%= image_tag absolute_attachment_url(@booklet.img_3) %>
<p>
  <b>Page 4:</b>
  <%= @booklet.page_4 %>
</p>
<%= image_tag absolute_attachment_url(@booklet.img_4) %>

<p>
  <b>Page 5:</b>
  <%= @booklet.page_5 %>
</p>
<%= image_tag absolute_attachment_url(@booklet.img_5) %>


<p>
  <b>Page 6:</b>
  <%= @booklet.page_6 %>
</p>
<%= image_tag absolute_attachment_url(@booklet.img_6) %>


<p>
  <b>Page 7:</b>
  <%= @booklet.page_7 %>
</p>
<%= image_tag absolute_attachment_url(@booklet.img_7) %>


<p>
  <b>Page 8:</b>
  <%= @booklet.page_8 %>
</p>
<%= image_tag absolute_attachment_url(@booklet.img_8) %>

<p>
  <b>Page 9:</b>
  <%= @booklet.page_9 %>
</p>
<%= image_tag absolute_attachment_url(@booklet.img_9) %>


<p>
  <b>Page 10:</b>
  <%= @booklet.page_10 %>
</p>
<%= image_tag absolute_attachment_url(@booklet.img_10) %>


<p>
  <b>Page 11:</b>
  <%= @booklet.page_11 %>
</p>
<%= image_tag absolute_attachment_url(@booklet.img_11) %>


<p>
  <b>Page 12:</b>
  <%= @booklet.page_12 %>
</p>
<%= image_tag absolute_attachment_url(@booklet.img_12) %>

<p>
  <b>Page 13:</b>
  <%= @booklet.page_13 %>
</p>
<%= image_tag absolute_attachment_url(@booklet.img_13) %>

<p>
  <b>Page 14:</b>
  <%= @booklet.page_14 %>
</p>
<%= image_tag absolute_attachment_url(@booklet.img_14) %>

<div class="hide">
  <p>
  <%= link_to 'Edit', edit_booklet_path(@booklet) %> |
  <%= link_to 'Back', booklets_path %>
  </p>
</div>
